@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
body {
  background-color: dodgerblue;
  font-family: Roboto;
}
button {
  border: none;
  background-color: #FEFEFE;
  width: 70px;
  height: 50px;
  font-size: 11px;
}
.title {
  font-family: 'Fredericka the Great', cursive;
}
a {
  text-decoration: none;
}
